<footer class="footer__main">
  <div class="footer__container">
    <section>
      <h2 class="footer__tittle">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ea ut
        aliquid recusandae eligendi velit sint officia neque tenetur non odio
        vero minima aut sapiente quod, aliquam consequuntur itaque iste.
      </p>
    </section>
    <address>
      <h2 class="footer__tittle__contact">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>contato@contato.com</li>
        <li><i class="fa-solid fa-mobile-screen"></i>(00) 0 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
