<header class="main__header">
  <h1 class="main__header__title">
    <span class="main__header__title-blue">Store test</span>
  </h1>

  <div class="container__header__menu">
    <nav class="main__header__menu">
      <ul>
        <li>
          <a>Produtos</a>
        </li>
        <li>
          <a>
            <i class="fa-solid fa-cart-shopping"></i>
            Carrinho
            <span class="badge__car">{{ CartService.getCart().length}}</span>
          </a>
        </li>
        <li><a>Contato</a></li>
        <li>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>
        <!-- <li><a href=""></a><i class="fa-brands fa-github"></i></li>-->
      </ul>
    </nav>
    <form class="search__form">
      <input type="text" />
      <button type="button" class="button__form">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</header>
