<!-- Use Day-way binding para buscar imagens -->

<section class="product__container">
  <div class="product-image__container">
    <!--<img [src]="product?.image" alt=""> -->
  </div>
  <div class="product-description__container">

   <!--<h2 class="product__name">{{product?.description}}</h2>
    <h3 class="product__price">{{product?.price}}</h3>  -->
    <p>Estoque</p>
    <label>
      quantidade:
      <input type="number">
      unidades
    </label>
    <p class="product__avaiability"></p>
  </div>
</section>
