<!-- Use Day-way binding para buscar imagens -->

<section class="product__container">
  <div class="product-image__container">
    <!--<img [src]="product?.image" alt="" />-->

    <img src="/assents/download.jpg" alt="">
  </div>
  <div class="product-description__container">
    <h2 class="product__name">Nome produto</h2>
    <h3 class="product__price">preço</h3>
    <p>Estoque</p>
    <label>
      quantidade:
    <input type="number"> unidades
    </label>
    <p class="product__avaiability">
      Unidades em estoque
    </p>
    <button>Adicionar ao carrinho</button>
  </div>
</section>
