<!-- Use Day-way binding para buscar imagens -->

<section class="product__container">
  <div class="product-image__container">
    <!--<img src="/assents/download.jpg" alt="">-->
    <img [src]="products?.image" alt="" />

  </div>
  <div class="product-description__container">
    <h2 class="product__name">{{products?.description}}</h2>
    <h3 class="product__price">{{products?.price | currency: "BRL"}}</h3>
    <p>Estoque</p>
    <label>
      quantidade:
    <input type="number" [(ngModel)]="quantity" min="1">  unidades
    </label>
    <p class="product__avaiability">
      {{products?.quantityItems}}
      Unidades em estoque
    </p>
    <button>Adicionar ao carrinho</button>
  </div>
</section>
