<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="accent">
  <span class="span__h1">Marketplace Prototype</span>
  <i class="fa-solid fa-heart"></i>
</mat-toolbar>

<div class="container__header">
  <app-header-app></app-header-app>
</div>

<app-footer-app></app-footer-app>
<app-product-app></app-product-app>
<app-page-not-found></app-page-not-found>
